DATABASE_URL=mysql+pymysql://username:password@localhost:3306/bridgeai_db
SECRET_KEY=bridge-ai-long-strong-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Email Configuration (SMTP)
# Email Configuration (SMTP)
SMTP_HOST=mailosaur.net
SMTP_PORT=587
SMTP_USER=eyjartcn
SMTP_PASSWORD=your_password_from_mailosaur
SMTP_FROM_EMAIL=their_email
SMTP_FROM_NAME=BridgeAI

