# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
.env
.venv

# Alembic migration cache
alembic/versions/__pycache__/

# OS junk
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# ChromaDB local database
chroma_db/
