fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
pymysql
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
jinja2
chromadb
langgraph
alembic
python-multipart
python-jose[cryptography]
passlib[bcrypt]